.breadcrumbs {
    background: linear-gradient(90deg, #A776FF 0%, #7F62B2 98.74%);
    height: 180px;

    @include breakpoint(lg) {
        height: 200px;
    }
}

.breadcrumbs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.breadcrumbs-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    z-index: 1;
}

.breadcrumbs-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.breadcrumbs-separator {
    margin: 0 5px;
    color: #fff;
}

.page-title {
    margin-top: 15px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;

    @include breakpoint(md) {
        font-size: 40px;
        line-height: 49px;
    }

    @include breakpoint(lg) {
        font-size: 64px;
        line-height: 78px;
    }
}