---
title: Honkon | О компании
about: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О компании', 'О компании')

    .about-section-page

        .container

            .about

                .about__block
                    .about-block__img
                        img(src="assets/images/ab-1.jpg", alt="img")

                    .about__block-info
                        .about__block-title Компания Honkon была основана в 1998 году в Пекине
                        .about__block-text Владеет научно-исследовательскими центрами, производственными базами и филиалами в Пекине, Тончжоу, Баодине, Аньшане, Шуньи, Сиане, Гуанчжоу, Чэнду, Шэньяне, Гонконге, Синьцзяне, Харбине и Нанкине.

                .about__block
                    .about__block-info
                        .about__block-text В настоящее время компания насчитывает более 1000 сотрудников. Один из самых крупных китайских заводов по производству лазерных аппаратов. Первой произвела неодимовый лазер в Азии.
                            br
                            br
                            |Honkon производит диодные, фракционные СО2, неодимовые, эрбиевые, пикосекундные лазеры, Hifu, IPL, газожидкостные системы, мезо пистолеты, анализаторы кожи и косметику.

                    .about-block__img
                        img(src="assets/images/ab-2.jpg", alt="img")