---
title: Honkon | Главная
bodyClass: main-page
---

extends includes/_page

block main

    .main-page

        .hero

            .hero-wrap

                .container

                    .hero__inner

                        .hero-video
                            video(muted autoplay)
                                source(src="assets/images/video.mp4" type="video/mp4")

                        .hero-main

                            h1.hero__slide-title HONKON THb
                            p.hero__slide-text — мультифункциональный фракционный лазер
                            .hero__actions
                                .button-style.button-style--violet(data-fancybox data-src="#popup-form") получить предложение
                                .button-style.button-style--transparent
                                    a(href="#cap") Возможности лазера

                        .arrow-down
                            a(href="#about")
                                i.fad.fa-chevron-down

        .about-section#about

            .container

                .s-about

                    .s-about__image
                        img(src="assets/images/promo-pic.png", alt="img")

                    .s-about__desc
                        .s-about__text HONKON THb — это многофункциональный фракционный лазер с гинекологическим модулем. <br><br>В аппарате использованы передовые технологии и импортные компоненты из Китая, Южной Кореи и Германии.
                        .s-about__posttitle Широкий спектр применения и гибкий функционал в одном аппарате
                        ul.s-about__list
                            li Косметология
                            li Дерматология
                            li Гинекология
                            li Хирургия

        .equipment-section

            .container

                .s-equip__wrap

                    .s-equip__title Комплектация<br><b>HONKON THb</b>
                    .s-equip__image
                        img(src="assets/images/Manipulapng.png", alt="img")
                    .s-equip__text Лазерный сканер CPG (Computerized Pattern Generator) производства Германия обеспечивает однородный размер пятна и глубину проникновения.

                .s-equip-main

                    .s-equip

                        .s-equip__item

                            .s-equip__item-wrap
                                .s-equip__item-image
                                    img(src="assets/images/Fractionnaja nasadka 3.png", alt="img")

                                .s-equip__item-title
                                    p Насадка фракционная (3 шт.)
                                    h3 Косметология и дермотология

                            .s-equip__item-subtitle Фракционная	манипула и основные	насадки  50 и 100 мм

                            .s-equip__item-content
                                h4 Общая хирургия:
                                br

                                ul
                                    li лазерная шлифовка кожи разной глубины в том числе, в области век, верхней губы, шеи и декольте;
                                    li коррекци я постакне , рубцов , а также гипертрофических и атрофических рубцовых изменений;
                                    li удаление заломов кожи и мелких морщин в области рта;
                                    li удаление пигментных пятен;
                                    li сокращение расширенных пор;
                                    li удаление доброкачественных новообразований кожи (папиллом и др);
                                    li фракционное омоложение;
                                    li разглаживание морщин;
                                    li восстановление упругости кожи и стимуляция выработки коллагена;
                                    li улучшение структуры и тона кожи;
                                    li лечение постакне и выравнивание рубцов;
                                    li удаление стрий.

                        .s-equip__item

                            .s-equip__item-wrap
                                .s-equip__item-image
                                    img(src="assets/images/Nasadka dlja ablacii 1.png", alt="img")

                                .s-equip__item-title
                                    p Насадка для абляции (2 шт.)
                                    h3 Хирургия

                            .s-equip__item-subtitle Хирургическая	манипула и основные	насадки 50 и 100 мм:

                            .s-equip__item-content
                                h4 Общая хирургия:
                                br

                                ul
                                    li лазерная шлифовка кожи разной глубины в том числе, в области век, верхней губы, шеи и декольте;
                                    li коррекци я постакне , рубцов , а также гипертрофических и атрофических рубцовых изменений;
                                    li удаление заломов кожи и мелких морщин в области рта;
                                    li удаление пигментных пятен;
                                    li сокращение расширенных пор;
                                    li удаление доброкачественных новообразований кожи (папиллом и др);
                                    li фракционное омоложение;
                                    li разглаживание морщин;
                                    li восстановление упругости кожи и стимуляция выработки коллагена;
                                    li улучшение структуры и тона кожи;
                                    li лечение постакне и выравнивание рубцов;
                                    li удаление стрий.

                        .s-equip__item

                            .s-equip__item-wrap
                                .s-equip__item-image
                                    img(src="assets/images/Vaginalnaja nasadka 1.png", alt="img")

                                .s-equip__item-title
                                    p Насадка гинекологическая (1 шт.)
                                    h3 Гинекология (Опция)

                            .s-equip__item-content
                                ul
                                    li лазерная шлифовка кожи разной глубины в том числе, в области век, верхней губы, шеи и декольте;
                                    li коррекци я постакне , рубцов , а также гипертрофических и атрофических рубцовых изменений;
                                    li удаление заломов кожи и мелких морщин в области рта;
                                    li удаление пигментных пятен;
                                    li сокращение расширенных пор;
                                    li удаление доброкачественных новообразований кожи (папиллом и др);
                                    li фракционное омоложение;
                                    li разглаживание морщин;
                                    li восстановление упругости кожи и стимуляция выработки коллагена;
                                    li улучшение структуры и тона кожи;
                                    li лечение постакне и выравнивание рубцов;
                                    li удаление стрий.

        .capability-section#cap

            .container

                .s-cap__title Возможности

                .s-cap__wrap

                    .s-cap__image
                        img(src="assets/images/opportunities.jpg", alt="img")

                    .s-cap__text
                        p Лазер позволяет проводить все виды операций по мягким тканям с моментальной коагуляцией, сохраняя их здоровую структуру.
                          br
                          br
                          |Точно воспроизводит заданную глубину, ширину разреза и размер зоны коагуляции.
                          br
                          br
                          |Имеет узкую зону термического повреждения, малое время реабилитации, минимальный дискомфорт и низкий риск осложнений. Полное отсутствие расходных материалов!

                .s-cap__scope

                    .s-cap__scope-title Возможность моделирования 6 типов геометрических фигур:

                    .s-cap__scope-wrap

                        .s-cap__scope-item
                            .s-cap__scope-item-img
                                img(src="assets/images/geometry-1.svg", alt="img")
                            .s-cap__scope-item-label Квардат

                        .s-cap__scope-item
                            .s-cap__scope-item-img
                                img(src="assets/images/geometry-2.svg", alt="img")
                            .s-cap__scope-item-label прямоугольник

                        .s-cap__scope-item
                            .s-cap__scope-item-img
                                img(src="assets/images/geometry-3.svg", alt="img")
                            .s-cap__scope-item-label треугольник

                        .s-cap__scope-item
                            .s-cap__scope-item-img
                                img(src="assets/images/geometry-4.svg", alt="img")
                            .s-cap__scope-item-label ромб

                        .s-cap__scope-item
                            .s-cap__scope-item-img
                                img(src="assets/images/geometry-5.svg", alt="img")
                            .s-cap__scope-item-label круг

                        .s-cap__scope-item
                            .s-cap__scope-item-img
                                img(src="assets/images/geometry-6.svg", alt="img")
                            .s-cap__scope-item-label линия

        .mode-section

            .container

                .mode

                    .mode__desc

                        .mode__item
                            .mode__item-num
                                span 0
                                span 1

                            .mode__item-info
                                p <b>Южно-корейский 7-зеркальный невесомый шарнирный манипулятор.</b> Механизм не ограничивает косметолога, может охватывать большую область возле аппарата.

                        .mode__item
                            .mode__item-num
                                span 0
                                span 2

                            .mode__item-info
                                p <b>Интуитивно-понятный интерфейс</b>
                                img(src="assets/images/interface.jpg", alt="img")

                        .mode__item
                            .mode__item-num
                                span 0
                                span 3

                            .mode__item-info
                                p <b>Металлическая RF трубка.</b> Срок службы трубки до 20 000 часов непрерывной работы. Более гомогенный, стабильный и однородный лазерный луч.

                    .mode__image
                        img(src="assets/images/10600THb_1.png", alt="img")

                .mode-worktime

                    .m-worktime__title режимы работы:

                    .m-worktime__list

                        .m-worktime__item <b>Непрерывный</b> — удаление родинок, возрастных пятен
                        .m-worktime__item <b>Ультраимпульсный</b> — удаление наростов, бородавок, родинок, других новообразований
                        .m-worktime__item <b>Фракционный</b> — осветление и омоложение кожи, улучшение пор и пигментации, лечение растяжек, удаление шрамов, лечение акне и следов постакне
                        .m-worktime__item <b>Гинекологический</b> (опционально) — лечение, подтяжка, ремоделирование (омоложение) интимных областей

        .tech-section

            .container

                .tech

                    .tech__images

                        .tech__video
                            .play-icon
                                i.fad.fa-play
                            video#video(src="assets/images/video.mp4", poster="assets/images/char.jpg")

                        .tech__images-docs
                            .tech__images-docs-item
                                .tech__images-docs-cert
                                    img(src="assets/images/fda.png", alt="img")
                                .tech__images-docs-diplom(data-fancybox data-src="assets/images/cert-1.jpg")
                                    img(src="assets/images/cert-1.jpg", alt="img")
                            .tech__images-docs-item
                                .tech__images-docs-cert
                                    img(src="assets/images/ce.png", alt="img")
                                .tech__images-docs-diplom(data-fancybox data-src="assets/images/cert-2.jpg")
                                    img(src="assets/images/cert-2.jpg", alt="img")
                            .tech__images-docs-item
                                .tech__images-docs-cert
                                    img(src="assets/images/emblem_ros.png", alt="img")
                                .tech__images-docs-diplom(data-fancybox data-src="assets/images/cert-3.jpg")
                                    img(src="assets/images/cert-3.jpg", alt="img")

                        p Медицинские регистрационные удостоверения (США, Европа, Россия)

                    .tech__desc

                        .tech__desc-title
                            p Технические характеристики

                        ul.tech__desc-list
                            li <b>Тип лазера</b> С02
                            li <b>Длина волны</b> 10600НМ
                            li <b>Мощность</b> 30W, 50W (опционально)
                            li  Металлическая трубка с радиочастотной накачкой (RF)
                            li <b>Манипула</b> Сбалансированная легковесная алюминиевая конструкция с 7 шарнирами.
                            li <b>Радиус действия</b> при полном выдвижении 85 см
                            li <b>Вращение по горизонтали:</b> 360°
                            li <b>Производство</b> Южная Корея
                            li <b>Сканер</b> лазерный CPG сканер, Германия
                            li <b>Пространство между точками</b> 1/2/3мм
                            li <b>Длительность импульса</b> 1ms-100ms (шаг: 1ms)
                            li <b>Размер луча</b> 200 мкм
                            li <b>Охлаждение</b> Воздушное охлаждение
                            li <b>Размер точки</b> Энергия в импульсе 2mJ-200mJ
                            li <b>Площадь воздействия</b> 6*6/12*12/18*18/24*24 мм²
                            li <b>Ресурс трубки</b> 20 000 часов
                            li <b>Размеры</b> 111,5*60*116 см
                            li <b>Bec</b> 98 кг
                            li <b>Гарантия</b> 12 месяцев
                            li  Онлайн поддержка

        .features-section

            .container

                .features

                    .features__title <b>HONKON THb</b> — это

                    .features__wrap

                        .features__item
                            .features__item-icon
                                img(src="assets/images/money.svg", alt="icon")
                            .features__item-label Экономия
                            .features__item-text Отсутствие расходных материалов

                        .features__item
                            .features__item-icon
                                img(src="assets/images/shield.svg", alt="icon")
                            .features__item-label Гарантия
                            .features__item-text Расширенная гарантия 12 месяцев

                        .features__item
                            .features__item-icon
                                img(src="assets/images/support.svg", alt="icon")
                            .features__item-label Поддержка
                            .features__item-text Профессиональное обучение и онлайн - поддержка

                        .features__item
                            .features__item-icon
                                img(src="assets/images/calend.svg", alt="icon")
                            .features__item-label Оплата частями
                            .features__item-text Предоставление рассрочки и лизинга

        .ban-section

            .container

                .ban

                    .ban__img
                        img(src="assets/images/promo-pic.png", alt="img")

                    .ban__title
                        p Стоимость с учетом доставки, монтажа, обучения  <b>1 850 000₽</b>
                        span *стоимость указана без учета гинекологической насадки

                    .ban__btn
                        .button-style.button-style--violet(data-fancybox data-src="#popup-form") заказать <b>Honkon THB</b>
