---
title: Honkon | Новости
news: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Новости', 'Новости')

    .news-section

        .container

            .news

                .news__item
                    .news__top
                        .news__img
                            img(src="assets/images/new-1.jpg", alt="img")
                        .news__title-mob СО2 лазер в косметологии и гинекологии
                    .news__wrap
                        .news__title СО2 лазер в косметологии и гинекологии
                        .news__text Фракционный лазер, благодаря широкому спектру применения и востребованности в различных сферах деятельности, прочно вошел в жизнь современного человека.
                        .news__bottom
                            .news__date 16 дек 22
                            .news__button
                                a(href="#") Подробнее

                .news__item
                    .news__top
                        .news__img
                            img(src="assets/images/new-2.jpg", alt="img")
                        .news__title-mob СО2 лазер в косметологии и гинекологии
                    .news__wrap
                        .news__title СО2 лазер в косметологии и гинекологии
                        .news__text Фракционный лазер, благодаря широкому спектру применения и востребованности в различных сферах деятельности, прочно вошел в жизнь современного человека.
                        .news__bottom
                            .news__date 16 дек 22
                            .news__button
                                a(href="#") Подробнее

                .news__item
                    .news__top
                        .news__img
                            img(src="assets/images/new-3.jpg", alt="img")
                        .news__title-mob СО2 лазер в косметологии и гинекологии
                    .news__wrap
                        .news__title СО2 лазер в косметологии и гинекологии
                        .news__text Фракционный лазер, благодаря широкому спектру применения и востребованности в различных сферах деятельности, прочно вошел в жизнь современного человека.
                        .news__bottom
                            .news__date 16 дек 22
                            .news__button
                                a(href="#") Подробнее

                .news__item
                    .news__top
                        .news__img
                            img(src="assets/images/new-4.jpg", alt="img")
                        .news__title-mob СО2 лазер в косметологии и гинекологии
                    .news__wrap
                        .news__title СО2 лазер в косметологии и гинекологии
                        .news__text Фракционный лазер, благодаря широкому спектру применения и востребованности в различных сферах деятельности, прочно вошел в жизнь современного человека.
                        .news__bottom
                            .news__date 16 дек 22
                            .news__button
                                a(href="#") Подробнее

                .news__item
                    .news__top
                        .news__img
                            img(src="assets/images/new-5.jpg", alt="img")
                        .news__title-mob СО2 лазер в косметологии и гинекологии
                    .news__wrap
                        .news__title СО2 лазер в косметологии и гинекологии
                        .news__text Фракционный лазер, благодаря широкому спектру применения и востребованности в различных сферах деятельности, прочно вошел в жизнь современного человека.
                        .news__bottom
                            .news__date 16 дек 22
                            .news__button
                                a(href="#") Подробнее

            .pagination
                .page-numbers.current 1
                .page-numbers 2
                .page-numbers 3
                .page-numbers 4
                .page-numbers 5
                .page-numbers.dots  ...
                .page-numbers 10
                .page-numbers.next
                    i.far.fa-arrow-right