---
title: Honkon | Новости
news: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('news-inner-bg.jpg', 'Виды косметологических лазеров и их применение', 'Новости','Виды косметологических лазеров и их применение')

    .news-section

        .container

            .news-content-wrap

                .news-date 16 дек 22

                .news-content
                    p На сегодняшний день лазерная косметология является наиболее популярным и перспективным направлением в сфере красоты и ухода. Она включает в себя огромный перечень процедур, которые раньше были недоступны. Манипуляции отличаются малоинвазивностью и быстрым периодом реабилитации.
                      |Сам лазер представляет собой пучок света с высокой энергией, который оказывает воздействие только на определенное вещество или объект, способные его поглощать. Главными характеристиками лазера являются его длины волны и импульса. Именно они определяют, насколько глубоко в ткани проникнет пучок света.
                      |Также в лазерах используют различную активную среду, по которой и можно составить их основную классификацию.
                    br
                    br
                    h3 Газовые лазеры
                    br
                    br
                    p – СО2-лазер – длина волны 10600 нм
                      br
                      br
                      |Излучение от данных лазеров поглощается водой, содержащейся в тканях. Этот вид используется для радикальных омолаживающих процедур, шлифовки рубцов и растяжек, удаления различных новообразований (бородавки, папилломы, доброкачественные опухоли кожи, кисты, ксантелазмы и др.), эстетической гинекологии и лечения инконтиненции, а также для хирургических разрезов.
                      br
                      br
                      |– Зеленый лазер – длина волны 520-532 нм
                      br
                      br
                      |Данный вид работает на парах меди и поглощается меланином. Особенно эффективны в удалении сосудистых патологий и пигментных пятен, используются для лазерного липолиза, лечения эндометриоза, а также применяются в ЛОР-хирургии и лапароскопии.
                      br
                      br
                      |– Желтый лазер – длина волны 577 нм
                      br
                      br
                      |Волны данного лазера обладают большей избирательностью, чем зеленые и поглощаются гемоглобином. Этот вид считается лучшим для решения сосудистых аномалий любого размера и лечения купероза.
                      br
                      br
                      |– Эксимерный лазер – 190-350 нм
                      br
                      br
                      |Поглощаются молекулами белка и воды. Данный вид лазера незаменим при лечении псориаза и витилиго.
                      br
                      br
                      |– Аргоновый лазер – 490-514 нм
                      br
                      br
                      |Поглощается гемоглобином и меланином. Широко используется в офтальмологии для удаления новообразований, лечения сосудистых болезней глазного яблока, глаукомы, а также устранения отслоения сетчатки.