---
title: Honkon | Отзывы
reviews: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('reviews-bg.jpg', 'Отзывы', 'Отзывы')

    .reviews-section

        .container

            .reviews__title Реальные отзывы
            .reviews__subtitle благодарных клиентов

            .reviews

                .reviews__item
                    .reviews__img
                        img(src="assets/images/rev-1.jpg", alt="img")
                    .reviews__info
                        .reviews__text Lörem ipsum sat vor i besamma om bejit när preledes. Radiokemi fase volig övatir. Krogon bibeska mick, tent tävla ut. Des urade.
                        .reviews__author Ирина Ивановна Л.
                        .reviews__rating
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star

                .reviews__item
                    .reviews__img
                        img(src="assets/images/rev-2.jpg", alt="img")
                    .reviews__info
                        .reviews__text Lörem ipsum sat vor i besamma om bejit när preledes. Radiokemi fase volig övatir. Krogon bibeska mick, tent tävla ut. Des urade.
                        .reviews__author Ирина Ивановна Л.
                        .reviews__rating
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star

                .reviews__item
                    .reviews__img
                        img(src="assets/images/rev-3.jpg", alt="img")
                    .reviews__info
                        .reviews__text Lörem ipsum sat vor i besamma om bejit när preledes. Radiokemi fase volig övatir. Krogon bibeska mick, tent tävla ut. Des urade.
                        .reviews__author Ирина Ивановна Л.
                        .reviews__rating
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star

                .reviews__item
                    .reviews__img
                        img(src="assets/images/rev-4.jpg", alt="img")
                    .reviews__info
                        .reviews__text Lörem ipsum sat vor i besamma om bejit när preledes. Radiokemi fase volig övatir. Krogon bibeska mick, tent tävla ut. Des urade.
                        .reviews__author Ирина Ивановна Л.
                        .reviews__rating
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star

                .reviews__item
                    .reviews__img
                        img(src="assets/images/rev-5.jpg", alt="img")
                    .reviews__info
                        .reviews__text Lörem ipsum sat vor i besamma om bejit när preledes. Radiokemi fase volig övatir. Krogon bibeska mick, tent tävla ut. Des urade.
                        .reviews__author Ирина Ивановна Л.
                        .reviews__rating
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star

                .reviews__item
                    .reviews__img
                        img(src="assets/images/rev-6.jpg", alt="img")
                    .reviews__info
                        .reviews__text Lörem ipsum sat vor i besamma om bejit när preledes. Radiokemi fase volig övatir. Krogon bibeska mick, tent tävla ut. Des urade.
                        .reviews__author Ирина Ивановна Л.
                        .reviews__rating
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star
                            i.fad.fa-star

            .pagination
                .page-numbers.current 1
                .page-numbers 2
                .page-numbers 3
                .page-numbers 4
                .page-numbers 5
                .page-numbers.dots  ...
                .page-numbers 10
                .page-numbers.next
                    i.far.fa-arrow-right